<div id="left">

    <h1>
        <i class="fa fa-newspaper-o"></i><font>Articles</font>
    </h1>

    <h3>
        <%= @message %>
    </h3>

    <% @posts.each_with_index do |post, index| %>
        <div id="post-<%= post.id %>" class="left_article_list">
            <a href="/articles/<%= post.id %>">
                <table>

                    <!-- Article TITLE -->
                    <tr class="left_article_list_title">
                        <td class="left_article_list_thumbnail" rowspan="2">
                            <%= image_tag(post.category.image_url, alt: post.category.description, name: post.category.name, class: "left_article_list_img") %>
                        </td>
                        <td class="left_article_list_title">
                            <span class="left_article_list_title"><%= post.title %></span>
                        </td>
                    </tr>

                    <!-- Article POSTED DATE -->
                    <tr class="left_article_list_date">
                        <td class="left_article_list_date">
                            <span class="left_article_list_date">
                                <i class="fa fa-calendar"></i> &nbsp <%= post.created_at.strftime("%Y/%m/%d %H:%M") %>
                            </span>
                        </td>
                    </tr>

                </table>
            </a>
        </div><!-- #post-(post-id) -->

        <% if (index) % ENV['INFEED_ADSENSE_DIVISOR_NUM'].to_i == ENV['INFEED_ADSENSE_REMAINDER_NUM'].to_i %>
            <div id="post-ad-<%= index %>" class="left_article_list">
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <ins class="adsbygoogle"
                   style="display:block"
                   data-ad-format="fluid"
                   data-ad-layout-key="-gm-21+c1-ad-fg"
                   data-ad-client="ca-pub-2710339298738466"
                   data-ad-slot="3042033648"></ins>
              <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </div>
        <% end %>
    <% end %>
  <%= paginate @posts %>
</div><!-- #left -->

<div id="right">
    <%= render 'right_contents', tags: @tags %>
</div><!-- #right -->
