
<div id="left">
    <p>
      <h2 class="left_article_title"><%= @post.title %></h2>
    </p>

    <hr>

    <p>
      <strong>CONTENTS：</strong>
      <%= markdown(@post.contents).html_safe %>
    </p>

    <%= render partial: "comments/form", locals: { post: @post } %>
    <%= render partial: "comments/list", locals: { comments: @post.comments.where.not(id: nil) } %>
    <%= link_to 'Back', posts_path %>
</div><!-- #inner -->

<div id="right">
    Popular Posts
</div><!-- #sub -->
