
<div id="left">
      <span class="left_article_date"><i class="fa fa-calendar"></i>&nbsp<%= @post.created_at.strftime("%Y/%m/%d %H:%M") %></span>

      <table>
        <TR>
          <td id="left_article_sumbnail"><%= image_tag("Category/" + @post.category.image_url, alt: @post.category.description, name: @post.category.name, class: "left_article_sumbnail") %></td>
          <td id="left_article_title"><%= @post.title %></td>
        </TR>
      </table>

      <hr>

      <div id="left_article_tag_list">
        <i class="fa fa-tags"></i>
        <% @post.tags.order(:name).each do |tag| %>
          <span class="left_article_tag"><%= "#{tag.name}(#{tag.taggings_count})" %></span>
        <% end %>
      </div>

    <div id="left_article">
      <%= markdown(@post.contents).html_safe %>
    </div>

    <div id="left_comments">
      <%= render partial: "comments/form", locals: { post: @post } %>
      <%= render partial: "comments/list", locals: { comments: @post.comments.where.not(id: nil) } %>
    </div><!-- #left_contents -->

    <%= link_to 'Back', posts_path %>
</div><!-- #inner -->

<div id="right">
    Popular Posts
</div><!-- #sub -->
