
<div id="left">
      <span class="left_article_date"><%= @post.created_at.strftime("%Y/%m/%d %H:%M") %></span>
      <h2 class="left_article_title"><%= @post.title %></h2>
      <hr>
      <div id="left_article_tag_list">
        <% @post.tags.order(:name).each do |tag| %>
          <span class="left_article_tag"><%= "#{tag.name}(#{tag.taggings_count})" %></span>
        <% end %>
      </div>

    <p>
      <%= markdown(@post.contents).html_safe %>
    </p>

    <%= render partial: "comments/form", locals: { post: @post } %>
    <%= render partial: "comments/list", locals: { comments: @post.comments.where.not(id: nil) } %>
    <%= link_to 'Back', posts_path %>
</div><!-- #inner -->

<div id="right">
    Popular Posts
</div><!-- #sub -->
