<div id="hero-image">
    <div class="wrapper">
      <h2>DONE IS BETTER THAN <br /> THE PERFECT.<br /><strong>BLOG BY kou_cs</strong></h2>
      <a  id="trigger-overlay"  href="javascript:void(0);"  class="ghost-button-1"> menu</a>
    </div><!-- .wrapper -->
</div><!-- #hero-image -->

<div class="overlay overlay-slidedown">
    <button type="button" class="overlay-close">Close</button>
    <nav>
        <ul>
              <li><a href="<%= url_for controller: :articles, action: :index %>"><i class="fa fa-newspaper-o"></i>&nbsp; <font>Articles</font></a></li>
              <li><a href="<%= url_for controller: :contact, action: :profile %>"><i class="fa fa-delicious"></i>&nbsp; <font>Profile</font></a></li>
              <li><a href="<%= url_for controller: :contact, action: :new %>"><i class="fa fa-envelope-o"></i>&nbsp; <font>Contact</font></a></li>
              <li><a href="<%= url_for controller: :home, action: :index %>"><i class="fa fa-home fa-fw"></i>&nbsp; <font>Home</font></a></li>
        </ul>
    </nav>
</div>
<%= javascript_include_tag 'classie' %>
<%= javascript_include_tag 'fullscreen-demo1' %>
