
<%= javascript_tag do %>
  window.tag_list = <%= raw @post.tag_list.to_json %>;
  window.available_tag_list = <%= raw Post.tags_on(:tags).map(&:name).to_json %>;
<% end %>


<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %>件のエラーが発生したため保存ができませんでした。</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div id="preview">
    <% if params[:preview_button] %>
      <%= markdown(@post.contents).html_safe %>
    <% end %>
  </div>

  <p>
    <%= f.label :category_id, "CATEGORY" %><br />
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </p>

  <p>
    <%= f.label :category_id, "TAG" %>
    <ul id="article-tags"></ul>
  </p>

  <p>
    <%= f.label :title, "TITLE" %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :text, "CONTENTS" %><br>
    <table id="posts-table">
      <trj>
        <td id="posts-textarea"><%= f.text_area :contents, cols: 60, rows: 40, id: "input-contents" %></td>
      </tr>
    </table>
  </p>

  <p>
    <%= f.submit "Save", id: "submit_button" %>
    <%= f.submit "Preview", id: "preview_button", name: "preview_button" %>
  </p>
<% end %>
