
<%= javascript_tag do %>
  window.tag_list = <%= raw @post.tag_list.to_json %>;
  window.available_tag_list = <%= raw Post.tags_on(:tags).map(&:name).to_json %>;
<% end %>


<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %>件のエラーが発生したため保存ができませんでした。</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.text_field :title, :placeholder => "TITLE" %>
  </p>

  <p>
    <%= f.label :category_id, "CATEGORY" %><br />
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </p>

  <p>
    <ul id="article-tags"></ul>
  </p>

  <p>
    <%= f.label :text, "CONTENTS" %>
    <div id="left_article">

      <table id="posts-table">
        <trj>
          <td id="posts-textarea"><%= f.text_area :contents, rows: 40, id: "input-contents" %></td>
          <td id="posts-preview"></td>
        </tr>
      </table>

    </div><!-- #container -->

  </p>

  <p>
    公開する（有効）<%= f.radio_button :is_valid, true , :checked => true , :value => true %><br />
    公開しない（無効）<%= f.radio_button :is_valid, false , :value => false %><br />
  </p>

  <p>
    <%= f.submit "Save", id: "submit_button" %>
  </p>
<% end %>
