<p>
  <strong>TITLE: </strong>
  <%= @post.title %>
</p>

<p>
  <strong>CONTENTS：</strong>
  <%= @post.contents %>
  <strong>syntax highlight</strong>
  <%= markdown(@test_code).html_safe %>

</p>

  <div class="codehighlight,">
    xxx
    sss
  </div>


<%= render partial: "comments/form", locals: { post: @post } %>

<%= render partial: "comments/list", locals: { comments: @post.comments.where.not(id: nil) } %>

<%= link_to 'Back', posts_path %>
