
<div id="hero-image">
    <div class="wrapper">
        <div id="left" style="height: 500px;">
            <!-- <h1 style="padding: 300px 0 0 0; text-align: center;">Under construction ...</h1> -->
            <center>
                <h1>Confirm</h1>

                <%= form_tag '/contact/', method: :post do %>
                <table id="profile">
                    <tr>
                        <th>名前 <em>*</em><br /><p>（Name）</p></th>
                        <td>
                            <%= @contact_data["name"] %>
                            <%= hidden_field_tag 'contact_data[name]', @contact_data["name"]  %>
                        </td>
                    </tr>

                    <tr>
                        <th>メールアドレス<em>*</em><br /><p>（Mail Address）</p></th>
                        <td>
                            <%= @contact_data["email"] %>
                            <%= hidden_field_tag 'contact_data[email]', @contact_data["email"]  %>
                        </td>
                    </tr>

                    <tr>
                        <th>件名<br /><p>（Subject）</p></th>
                        <td>
                            <%= @contact_data["subject"] %>
                            <%= hidden_field_tag 'contact_data[subject]', @contact_data["subject"]  %>
                        </td>
                    </tr>

                    <tr>
                        <th>本文<em>*</em><br /><p>（Contents）</p></th>
                        <td>
                            <%= @contact_data["content"] %>
                            <%= hidden_field_tag 'contact_data[content]', @contact_data["content"]  %>
                        </td>
                    </tr>

                    <tr>
                      <th colspan="2">
                        以上の内容で送信します。<br />
                        <%= submit_tag "送信" %>
                      </th>
                    </tr>
                </table>
                <% end %>

            </center>
        </div>
    </div><!-- .wrapper -->
</div><!-- #hero-image -->


<div class="overlay overlay-slidedown">
    <button type="button" class="overlay-close">Close</button>
    <nav>
        <ul>
              <li><a href="<%= url_for controller: :home, action: :index %>"><i class="fa fa-home fa-fw"></i>&nbsp; <font>Home</font></a></li>
              <li><a href="<%= url_for controller: :articles, action: :index %>"><i class="fa fa-newspaper-o"></i>&nbsp; <font>Articles</font></a></li>
              <li><a href="<%= url_for controller: :contact, action: :profile %>"><i class="fa fa-delicious"></i>&nbsp; <font>Profile</font></a></li>
              <li><a href="<%= url_for controller: :contact, action: :new %>"><i class="fa fa-envelope-o"></i>&nbsp; <font>Contact</font></a></li>
        </ul>
    </nav>
</div>
<%= javascript_include_tag 'classie' %>
<%= javascript_include_tag 'fullscreen-demo1' %>
