
<div id="hero-image">
    <div class="wrapper">
        <div id="left" style="height: 450px;">
            <!-- <h1 style="padding: 300px 0 0 0; text-align: center;">Under construction ...</h1> -->
            <center>
                <h1>CONTACT FORM</h1>

                <%= form_tag '/contact/confirm', method: :post do %>
                <table id="profile">
                    <tr>
                        <th>名前 *<br /><p>（Name）</p></th>
                        <td><%= text_field_tag 'contact_data[name]', @contact_data['name'] %></td>
                    </tr>

                    <tr>
                        <th>メールアドレス*<br /><p>（Mail Address）</p></th>
                        <td><%= email_field_tag 'contact_data[email]', @contact_data['email'] %></td>
                    </tr>

                    <tr>
                        <th>件名<br /><p>（Subject）</p></th>
                        <td><%= text_field_tag 'contact_data[subject]', @contact_data['subject'] %></td>
                    </tr>

                    <tr>
                        <th>本文 *<br /><p>（Content）</p></th>
                        <td><%= text_area_tag 'contact_data[content]' , @contact_data['content'] %></td>
                    </tr>
                </table>

                <%= @error_message %><br />
                <%= submit_tag "確認" %>

                <% end %>

            </center>
        </div>
    </div><!-- .wrapper -->
</div><!-- #hero-image -->


<div class="overlay overlay-slidedown">
    <button type="button" class="overlay-close">Close</button>
    <nav>
        <ul>
              <li><a href="<%= url_for controller: :home, action: :index %>"><i class="fa fa-home fa-fw"></i>&nbsp; <font>Home</font></a></li>
              <li><a href="<%= url_for controller: :articles, action: :index %>"><i class="fa fa-newspaper-o"></i>&nbsp; <font>Articles</font></a></li>
              <li><a href="<%= url_for controller: :contact, action: :profile %>"><i class="fa fa-delicious"></i>&nbsp; <font>Profile</font></a></li>
              <li><a href="<%= url_for controller: :contact, action: :new %>"><i class="fa fa-envelope-o"></i>&nbsp; <font>Contact</font></a></li>
        </ul>
    </nav>
</div>
<%= javascript_include_tag 'classie' %>
<%= javascript_include_tag 'fullscreen-demo1' %>
