<div id="hero-image">
    <div class="wrapper">
        <div id="left" style="height: 500px;">
            <center>
                <br /><br /><br />
                <h1>Profile</h1>

                <table id="profile">
                    <tr>
                        <th>名前（Name）</th>
                        <td>Kouta SUGIHARA &nbsp（<%= link_to "@kou_cs", "https://twitter.com/kou_cs" %>）</td>
                    </tr>

                    <tr>
                        <th>所在地（Location）</th>
                        <td>Osaka, Japan</td>
                    </tr>

                    <tr>
                        <th>仕事（Work）</th>
                        <td>ネットワークエンジニア</td>
                    </tr>

                    <tr>
                        <th>開発実績（Activities）</th>
                        <td>
                            <ul>
                                <li><%= link_to "有機野菜・無農薬野菜・自然栽培野菜の通販 －テレファーム", "http://www.telefarm.net/" %>(構築)</li>
                                <li><%= link_to "KBmap System", "http://kitbuild.isl.hiroshima-u.ac.jp/"%>(設計・構築・保守)</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </center>
        </div>
    </div><!-- .wrapper -->
</div><!-- #hero-image -->

<div class="overlay overlay-slidedown">
    <button type="button" class="overlay-close">Close</button>
    <nav>
        <ul>
              <li><a href="<%= url_for controller: :home, action: :index %>"><i class="fa fa-home fa-fw"></i>&nbsp; <font>Home</font></a></li>
              <li><a href="<%= url_for controller: :articles, action: :index %>"><i class="fa fa-newspaper-o"></i>&nbsp; <font>Articles</font></a></li>
              <li><a href="<%= url_for controller: :contact, action: :profile %>"><i class="fa fa-delicious"></i>&nbsp; <font>Profile</font></a></li>
              <li><a href="<%= url_for controller: :contact, action: :new %>"><i class="fa fa-envelope-o"></i>&nbsp; <font>Contact</font></a></li>
        </ul>
    </nav>
</div>
<%= javascript_include_tag 'classie' %>
<%= javascript_include_tag 'fullscreen-demo1' %>
