<div id="hero-image">
    <div class="wrapper">
        <div id="left" style="height: 500px;">


            <center>
                <h1>PROFILE</h1>
            </center>
            <br /><br />

            <div class="user-profile">
                <img class="avatar" src="https://res.cloudinary.com/hhokqdeq5/image/upload/v1491639006/kou_cs_2_gdt5fm.png" alt="Ash" />
                <div class="username">Kouta SUGIHARA </div>
                <div class="bio">
                    Software Engineer
                </div>
               <div class="info">
                    <table>
                        <tr>
                            <th>Address</th>
                            <td>Tokyo, Japan</td>
                        </tr>
                        <tr>
                            <th>Archives</th>
                            <td>
                                <%= link_to "有機野菜・無農薬野菜・自然栽培野菜の通販 －テレファーム", "http://www.telefarm.net/" %><br />
                                <%= link_to "Kit-Build Map System", "https://sites.google.com/a/learning-engineering.com/le-home/Home/research-activites-hirashimalab/2012"%> <br />
                                <%= link_to "Voice Launcher - Google Play の Android アプリ", "https://play.google.com/store/apps/details?id=com.tomtak.voice_launcher&hl=ja" %> <br />
                                <%= link_to "CAPASEA - 広大生総合情報ポータルサイト (終了）", "http://capasea.com/" %>
                            </td>
                        </tr>
                    </table>
                </div>
                  <ul class="data">
                 </ul>
                </div>

<!-- 
                <table id="profile">
                    <tr>
                        <th>名前<br /><p>（Name）</p></th>
                        <td>Kouta SUGIHARA </td>
                    </tr>

                    <tr>
                        <th>所在地<br /><p>（Location）</p></th>
                        <td>Osaka, Japan</td>
                    </tr>

                    <tr>
                        <th>仕事<br /><p>（Work）</p></th>
                        <td>Network Engineer</td>
                    </tr>

                    <tr>
                        <th>開発実績<br /><p>（Activities）</p></th>
                        <td>
                            <ul>
                                <li><%= link_to "有機野菜・無農薬野菜・自然栽培野菜の通販 －テレファーム", "http://www.telefarm.net/" %>(構築)</li>
                                <li><%= link_to "KBmap System", "http://kitbuild.isl.hiroshima-u.ac.jp/"%>(設計・構築・保守)</li>
                            </ul>
                        </td>
                    </tr>
                </table>
 -->
        </div>
    </div><!-- .wrapper -->
</div><!-- #hero-image -->

<div class="overlay overlay-slidedown">
    <button type="button" class="overlay-close">Close</button>
    <nav>
        <ul>
              <li><a href="<%= url_for controller: :home, action: :index %>"><i class="fa fa-home fa-fw"></i>&nbsp; <font>Home</font></a></li>
              <li><a href="<%= url_for controller: :articles, action: :index %>"><i class="fa fa-newspaper-o"></i>&nbsp; <font>Articles</font></a></li>
              <li><a href="<%= url_for controller: :contact, action: :profile %>"><i class="fa fa-delicious"></i>&nbsp; <font>Profile</font></a></li>
              <li><a href="<%= url_for controller: :contact, action: :new %>"><i class="fa fa-envelope-o"></i>&nbsp; <font>Contact</font></a></li>
        </ul>
    </nav>
</div>
<%= javascript_include_tag 'classie' %>
<%= javascript_include_tag 'fullscreen-demo1' %>
