<!DOCTYPE html>
<html>
<head>
  <title>GratuitousLog</title>

<!--
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true,  :debug => true %>
  <%= stylesheet_link_tag     controller.controller_name , media: "all", "data-turbolinks-track" => true,  :debug => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag controller.controller_name , "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>

</head>
<body>
    <div id="container">

      <header id="header">

        <nav id="fixed-navi">
          <ul>
            <li><a href="#"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a></li>
            <li><a href="#"><i class="fa fa-newspaper-o"></i>&nbsp; <span class="glyphicons glyphicons-newspaper"></span>Articles</a></li>
            <li><a href="#"><i class="fa fa-delicious"></i>&nbsp; Applications</a></li>
            <li><a href="#"><i class="fa fa-envelope-o"></i>&nbsp; Contact</a></li>
          </ul>
        </nav>

        <%= render 'layouts/navigation' %>

        <img src="<%= asset_path("40.png") %>" width="1440">
      </header><!-- #header -->

      <div id="main">

        <div id="inner">
          <%= yield %>
        </div><!-- #inner -->

      </div><!-- #main -->

      <div id="sub">
        Popular Posts
      </div><!-- #sub -->

    </div><!-- #container -->

      <footer>
        <p><small>© copyright 2015 Acto All Rights Reserved. </small></p>
      </footer>


</body>
</html>
